<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>sidp</title>
    <link rel="stylesheet" href="https://cdn.auth0.com/styleguide/4.8.25/index.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.5.11/jsoneditor.min.css" />

    <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section class="jumbotron">
        <h1>sidp</h1>
        <p>saml idp</p>
    </section>

    <!-- -->
    {{{ template-start "tpl-authorize" }}}
    <div class="content">
        <h3>SAML Request</h3>
        <div id="request"></div>
        {{#if parsed_request}}
        <h3>Parsed SAML Request</h3>
        <pre id="parsed_request" style="white-space: pre-wrap;">{{parsed_request}}</pre>
        {{/if}}
        <h3>User Info</h3>
        <div id="user"></div>
        <br />
        <center>
            <div class="btn btn-success" v-on:click="authorize">AUTHORIZE</div>
            <div class="btn btn-default" v-on:click="reset">RESET USER</div>
        </center>
    </div>
    {{{ template-end }}}
    <!-- -->

    <div id="app"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.5.11/jsoneditor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="/scripts.js"></script>
</body>

</html>