<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>cdb</title>
    <link rel="stylesheet" href="https://cdn.auth0.com/styleguide/4.8.25/index.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.5.11/jsoneditor.min.css" />

    <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section class="jumbotron">
        <h1>cdb</h1>
        <p>custom db</p>
    </section>

    <!-- -->
    {{{ template-start "tpl-db" }}}
    <div class="content">
        <center>
            <div class="btn btn-success" v-on:click="save">SAVE</div>
            <div class="btn btn-default" v-on:click="reset">RESET</div>
            <div class="btn btn-default" v-on:click="test">TEST</div>
        </center>
        <h3>Users</h3>
        <div id="users"></div>
        <br />
        <h3>Options</h3>
        <div id="options"></div>
        <br />
        <h3>Conditions</h3>
        <div id="conditions">adsdsds</div>
    </div>
    {{{ template-end }}}
    <!-- -->

    <div id="app"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.5.11/jsoneditor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"
        integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js" integrity="sha256-C7DTYRJLG+B/VEzHGeoPMw699nsTQYPAXHKXZb+q04E=" crossorigin="anonymous"></script>

    <script src="/scripts.js"></script>
</body>

</html>